.card img {
    width: 74%;
}

.btn {
    background-color: #1da4cb !important
}

.login-page .card-login .btn-wd {
    margin-top: 20px;
    color: #fff;
    padding: 12px 0 !important;
    float: none;
}

.color-red {
    color: #1da4cb !important
}

.card {
    margin: 0;
}

.login-page>.content,
.lock-page>.content {
    padding-top: 11vh;
}

.wrapper-full-page {
    background-size: 1609px;
    background-repeat: no-repeat;
    width: 100%;
    h2 {
        font-weight: 400;
    }
}

.login-page .card-login .card-header {
    margin: 0;
    height: 232px;
    width: 323px;
    position: relative;
    margin-left: 22px;
    margin-top: 80px;
    background-color: black;
}

.card .card-header {
    padding: 0px 20px 0;
}

.alert {
    box-shadow: none;
    width: 100%;
    color: #f58020 !important;
    margin: 0;
    padding: 0;
}

.card-login .card-content {
    padding: 20px 20px;
}

.red-icon {
    color: #f58020 !important
}

.login-form {
    margin-top: 72px !important;
}

.wrapper.wrapper-full-page {
    height: auto;
    min-height: 87vh;
}

.card-login {
    height: 410px;
    background-size: 548px;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: left bottom;
    background-size: 90%;
    i {
        color: #1da4cb !important;
    }
}

.link-red {
    color: #1da4cb !important;
    padding-top: 10px;
    display: block;
    font-weight: 400;
    text-decoration: underline
}

.login-logo {
    width: 55% !important;
    display: block;
    margin: 0px auto;
}

.offset {
    padding-left: 10px;
}

