<div class="logo">
  <div class="logo-normal">
      <a href="" class="simple-text">
          <img src="assets/img/ticklelogo.png" width="30%" alt="">
      </a>
  </div>
</div>
<div class="sidebar-wrapper">
  <div class="user">
      <div class="info">
          <a data-toggle="collapse" href="#collapseExample" class="collapsed">
              <span>
                  Admin
                  <b class="caret"></b>
              </span>
          </a>
          <div class="collapse" id="collapseExample">
              <ul class="nav">
                  <li>
                      <a>
                          <i class="material-icons">person</i>
                          <span [routerLink]="['/admin/profile']" class="sidebar-normal">Profile</span>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <div class="nav-container">
      <ul class="nav" >
          <li routerLinkActive="active" [class]="active" *ngFor="let item of menuItems;">
              <a [routerLink]="[item.path]" class="menu">
                  <i class="material-icons">{{item.icon }}</i>
                  <p>{{item.title}}</p>
              </a>
          </li>
          <li routerLinkActive="active">
            <a data-toggle="collapse" href="#miscdata">
                <i class="material-icons">grid_on</i>
                <p>Misc Data
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse" id="miscdata">
              <ul class="nav">
                <li routerLinkActive="active">
                  <a [routerLink]="['/admin/misc-data/countries']">
                    <i class="material-icons">assistant_photo</i>
                    <span class="sidebar-normal">Countries</span>
                  </a>
                </li>
                <li routerLinkActive="active">
                  <a [routerLink]="['/admin/misc-data/profile-pics']">
                    <i class="material-icons">picture_in_picture</i>
                    <span class="sidebar-normal">Profile Pics</span>
                  </a>
                </li>
                <li routerLinkActive="active">
                  <a [routerLink]="['/admin/misc-data/tags']">
                    <i class="material-icons">bookmark</i>
                    <span class="sidebar-normal">Tags</span>
                  </a>
                </li>
                <li routerLinkActive="active">
                  <a [routerLink]="['/admin/misc-data/topics']">
                    <i class="material-icons">T</i>
                    <span class="sidebar-normal">Topics</span>
                  </a>
                </li>
                <li routerLinkActive="active">
                  <a [routerLink]="['/admin/misc-data/orientation']">
                    <i class="material-icons">S</i>
                    <span class="sidebar-normal">Sexual Orientations</span>
                  </a>
                </li>
              </ul>
            </div>
        </li>
      </ul>
  </div>
</div>