/* You can add global styles to this file, and also import other style files */

.sidebar .nav i, .off-canvas-sidebar .nav i {
    font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #2fb2d9;
}

.btn {
    background-color: #0aa5d2 !important;
}
button#minimizeSidebar i {
    color: #ffff;
}
.logo-normal img {
    width: 73%;
}
.login-admin-section{ width:100%;}